name: Build

on: [pull_request]

jobs:
  test:
    name: Test Suite
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.0
          extensions: mbstring, intl, sqlite3, mysqli
      - name: Composer Check
        run: composer validate
      - name: Test
        run: |
          cd app
          composer install --prefer-dist --no-interaction --no-progress
          cp config/.env.example config/.env
          cp config/app_local.example.php config/app_local.php
          vendor/bin/phpunit

  build:
    name: Docker Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Env Files
        run: |
          cp .docker/php.env.development .docker/php.env
          cp .docker/mysql.env.development .docker/mysql.env
      - name: Pull images
        run: docker-compose pull
      - name: Build
        run: docker-compose build --build-arg UID=$(id -u) --build-arg ENV=dev
      - name: Start
        run: docker-compose up -d
      - name: Wait for services
        run: sleep 5
      - name: HTTP Check
        run: curl -v -o /dev/null http://localhost:8080
